// partial for variables (colors, fonts, etc.)

//fonts
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');

// colors
$White: hsl(0, 0%, 100%);
$Lightgray: hsl(0, 0%, 80%);
$Darkgray: hsl(0, 0%, 20%);